<!-- home -->
<div id="home">
    <!--/top-nav -->
    <div class="top_w3pvt_main container">
        <!--/header -->
        <header class="nav_w3pvt text-center ">
            <!-- nav -->
            <nav class="wthree-w3ls">
                <div id="logo">
                    <h1> <a class="navbar-brand px-0 mx-0" href="/home" style="position: relative;
                        left: 150px">URL Shortener
                        </a>
                        <span><img src="/images/logo/logo.png" alt="logo"
                                style="width: 100px; position:absolute; left: 0; bottom: 15px;"></span>
                    </h1>
                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop" />
                <ul class="menu mr-auto">
                    <li class="social-icons ml-lg-3"><a href="#" class="p-0 social-icon"><span
                                class="fa fa-facebook-official" aria-hidden="true"></span>
                            <div class="tooltip">Facebook</div>
                        </a> </li>
                    <li class="social-icons"><a href="#" class="p-0 social-icon"><span class="fa fa-twitter"
                                aria-hidden="true"></span>
                            <div class="tooltip">Twitter</div>
                        </a> </li>
                    <li class="social-icons"><a href="#" class="p-0 social-icon"><span class="fa fa-instagram"
                                aria-hidden="true"></span>
                            <div class="tooltip">Instagram</div>
                        </a> </li>
                    <li class="social-icons"><a href="https://github.com/candrasaputra/urlshortener"
                            class="p-0 social-icon"><span class="fa fa-github" aria-hidden="true"></span>
                            <div class="tooltip">GitHub</div>
                        </a> </li>
                </ul>
            </nav>
            <!-- //nav -->
        </header>
        <!--//header -->
    </div>
    <!-- //top-nav -->
</div>
